ol.chat-feed {
    grid-area: chat;
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

figure {
    margin: 10px;
    padding: 5px;
}

span.username {
    color: #000;
    font-style: italic;
    margin-right: 3px;
    text-shadow: #ccc 1px 1px 1px;
}

ol.chat-feed li {
    display: flex;
    padding: 5px;
    padding-left: 0;
    padding-right: 0;
    flex: 1 0 auto;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
    align-items: center;
}

ol.chat-feed li.self{
    flex-direction: row-reverse;
}

ol.chat-feed li figure {
    border-radius: 100%;
    background-color: #FF1075;
    min-height: 30px;
    min-width: 30px;
    color: #FFF;
    font-weight: bolder;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ol.chat-feed li p {
    color: #333;
}