/*
yellow: #FFE35E
green: #8AE880
fuschia: #FF1075
dark-lavender: #56536E
lavender: #EEECFF

font-family: 'Source Sans Pro', sans-serif;
font-family: 'Raleway', sans-serif;
 */


html, body, .app{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

ul, ol {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.app {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 60px 1fr 40px;
    grid-template-areas: "nav head"
                         "nav chat"
                         "nav form";
    grid-gap: 0;
    background-color: #eee;

}

.app nav {
    grid-area: nav;
    background-color: #06639E;
    color: #FFF;
    box-sizing: border-box;
    box-shadow: #000 1px 0 2px;
    z-index: 9999;
    padding: 0;
}

.app nav header {
    background-color: #222;
    min-height: 60px;
    box-shadow: #666 0 1px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bolder;
    padding-right: 5px;
    padding-left: 5px;
}

.app nav ul.main-nav>li {
    padding: 10px;
    border-bottom: 1px solid #84AFCF;
    align-self: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.app nav li {
    padding: 5px;
    border-bottom: none;
    align-self: flex-end
}

.app nav li a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app nav li:first-child{
    margin-top: 5px;
}

.app nav li.current-room{
    background-color: #eee;
    padding-right: 19px;
    margin-right: -14px;
    position: relative;
    color: #333;
}

.app>header {
    grid-area: head;
    display: flex;
    flex-direction: row;
    background-color: #222;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: #666 0 1px 2px;
}

.app form.chat-box{
    grid-area: form;
    display: flex;
    flex-direction: row;
}

form.chat-box input[type=text]{
    flex: 500px 1 1;
}

form.chat-box button[type=submit]{
    flex: 100px 0 0;
}

.count{
    border-radius: 100%;
    background-color: #FFE35E;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    padding-top: 4px;
    padding-bottom: 6px;
    line-height: 0;
    min-height:20px;
    min-width:20px;
    height:20px;
    width:20px;
    margin-right: 5px;
}